@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

body {
  margin: 0px !important;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
  outline: 2px solid lime;
} */

html *::-webkit-scrollbar,
.ant-table-body::-webkit-scrollbar {
  border-radius: 0;
  width: var(--gt-scrollbar-with);
  height: var(--gt-scrollbar-with);
}

html *::-webkit-scrollbar-thumb,
.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(var(--gt-active-bg-color-rgb), 0.7);
}

html *::-webkit-scrollbar-thumb:hover,
.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--gt-active-bg-color-rgb), 1);
}

html *::-webkit-scrollbar-track,
.ant-table-body::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

html *::-webkit-scrollbar-track-piece,
.ant-table-body::-webkit-scrollbar-track-piece {
  background: transparent;
}

:root {
  --gt-primary-color-rgb: 27, 82, 79;
  /** #1b594f*/
  --gt-primary-color: rgb(var(--gt-primary-color-rgb));
  --gt-success-color: #52c41a;
  --gt-warning-color: #faad14;
  --gt-error-color: #a9081c;
  --gt-info-color: #2f49ff;
  --gt-link-color: #8a2be2;
  --gt-submit-color: #2b5654;
  --gt-form-item-label-color: #4b0310;
  --gt-light-green-color: #dcf0cc;
  --gt-active-bg-color-rgb: 0, 164, 126;
  --gt-active-bg-color: rgb(var(--gt-active-bg-color-rgb));
  --gt-container-bg-color: #fff;
  --gt-hover-text-color: #ffe457;
  --gt-header-grid-bg-color: #cbeaca;
  --gt-base-foreground-color: #ffffffde;
  --gt-base-border-color: #cccccc;
  --gt-base-color: #1b524f;
  --gt-base-pading: 8px;
  --gt-header-height: 37px;
  --gt-logo-height: 61px;
  --gt-drawer-header-hight: 40px;
  --gt-drawer-width: calc(100vw - 80px);
  --gt-scrollbar-with: 5px;
  --gt-sider-collapsed-width: 80px;
  --gt-sider-min-width: 200px;
  --gt-sider-max-width: 270px;
  --gt-border-color: #d1d1d1;
  --gt-clone-action-color: #3f72af;
  --gt-delete-action-color: #d14d72;
  --gt-edit-action-color: #364f6b;
  --gt-download-action-color: #bf9270;
  --gt-create-action-color: #3282b8;
  --gt-active-sort-bg-color: #c1d8c3;
  --gt-background-layout: #e5e5e5;
  --gt-footer-height: 16px;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-spin-dot .ant-spin-dot-item {
  background-color: var(--gt-submit-color) !important;
  font-size: 30px !important;
}

.loading-save-document .ant-spin-dot .ant-spin-dot-item {
  background-color: white !important;
}

input[disabled],
textarea[disabled],
.ant-select-disabled .ant-select-selection-item {
  color: var(--gt-base-color) !important;
}

.loading-chuyen-doi-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
  z-index: 3002;
}

.loading-chuyen-doi-container>.ant-spin-nested-loading .ant-spin-blur {
  clear: both;
  opacity: 1;
  user-select: none;
  pointer-events: none;
}

.loading-chuyen-doi-container>.ant-spin-nested-loading .ant-spin-blur::after {
  opacity: 0;
  pointer-events: auto;
}

.loading-chuyen-doi-container .ant-spin-dot .ant-spin-dot-item {
  background-color: white !important;
}

.loading-chuyen-doi {
  background-color: var(--gt-base-color);
  border-radius: 10px;
  width: 270px;
  height: 100px;
}

.confirm-escape-modal .ant-modal-content {
  padding: 0;
  overflow: hidden;
}

.confirm-escape-modal .ant-modal-confirm-content,
.confirm-escape-modal .ant-modal-confirm-btns,
.confirm-escape-modal .ant-modal-confirm-title {
  padding: 0.5rem 1rem;
}

.confirm-escape-modal .ant-modal-confirm-title {
  background-color: var(--gt-submit-color);
  color: #fff;
}

.ant-tooltip-inner {
  white-space: pre-line;
}

.ant-checkbox-disabled+span {
  color: var(--gt-base-color);
}

.ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

.loading-full-height {
  height: 100%;
  max-height: 100%;
}

.loading-full-height .ant-spin-container {
  height: 100%;
}

#save .e-tbar-btn-text,
#save .e-btn-icon.e-icons::before {
  color: green;
}

.gt-drawer .ant-drawer-body:has(.tab-footer-in-drawer) {
  overflow-y: scroll;
  padding-bottom: 0;
}

.tab-footer-in-drawer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: var(--gt-base-pading) 0;
  background: linear-gradient(to top,
      /* transparent 0%,
    var(--gt-base-foreground-color) 10%,
    var(--gt-container-bg-color) 35%, */
      var(--gt-container-bg-color) 60%,
      var(--gt-base-foreground-color) 80%,
      transparent 100%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal-create-tai-lieu .ant-modal-footer {
  justify-content: flex-end !important;
  gap: 0 !important;
  flex-direction: row !important;
}

.modal-create-tai-lieu .ant-modal-body {
  min-height: 260px;
}

.ant-tooltip .ant-tooltip-content .ant-tooltip-inner ul li {
  display: none;
}

.ant-tooltip .ant-tooltip-content .ant-tooltip-inner ul li:nth-child(-n + 3) {
  display: list-item;
}

.ant-tooltip .ant-tooltip-content .ant-tooltip-inner ul:has(li:nth-child(4))::after {
  content: '...';
  display: block;
  color: white;
}